@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f5;
}

nav {
    background-color: #e9ce5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10vw 10px 7vw;

}

main {
    height: 110vh;
    position: relative;

}

.nav-img {
    width: 30%;
    height: 30%;
}

a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #A52A2A;
}

a li:hover {
    color: #f5f5f5;
    cursor: pointer;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 3vw;
}

.main-one {
    display: flex;
    margin-top: 15vh;
    
}

.img-main {
    position: relative;
    left: 15vw;
    margin-top: 0;
    height: 50wh;
    width: 30vw;
    z-index: -1;
}

.main-one-img {
    border: 3px solid orange;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.text {
    width: 33vw;
    height: 50vh;
    position: relative;
    top: 5vh;
    left: 16vw;
    
}

.text-same {
    font-family: 'Mynerve', cursive;
    font-size: 1.5rem;
    color: #A52A2A;
}

.hi-class {
    margin: 25% 0 10px 0;
}

.name-class {
    margin-top: 10px;
    background-color: #800000;
    font-family: 'Tilt Warp', cursive;
    font-weight: 900;
    color: #fff;
    border: 3px solid orange;
    padding-left: 7px;
    border-radius: 10px;
}

.name-class:hover {
    font-size: 40px;
}

.web-class {
    margin-top: 10px;
}

.about-me {
    position: relative;
    height: 500px;
    background-color: #b86e00;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.about-text {
    position: relative;
    top: 10%;
    color: #fff;
    font-size: 1.3rem;
    padding-top: 30px;
}

.marg {
    margin-top: 60px;
}